<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=UK-DZL\SQL2008DEV;Initial Catalog=BasicSitecoreSitecore_core;Integrated Security=False;User ID=sa;Password=s@123456" />
  <add name="master" connectionString="Data Source=UK-DZL\SQL2008DEV;Initial Catalog=BasicSitecoreSitecore_master;Integrated Security=False;User ID=sa;Password=s@123456" />
  <add name="web" connectionString="Data Source=UK-DZL\SQL2008DEV;Initial Catalog=BasicSitecoreSitecore_web;Integrated Security=False;User ID=sa;Password=s@123456" />
  <add name="analytics" connectionString="mongodb://localhost:27017/BasicSitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/BasicSitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/BasicSitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/BasicSitecore_tracking_contact" />
  <add name="reporting" connectionString="Data Source=UK-DZL\SQL2008DEV;Initial Catalog=BasicSitecoreSitecore_reporting;Integrated Security=False;User ID=sa;Password=s@123456" />
</connectionStrings>